.git
.pytest_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd

.data
logs
workspace_tmp
workspace_tmp_tests

tests
docs
README.md

.env
.env.local
.env.*
docker/.env
docker/.env.*
resources/.env
resources/.env.*

*.zip
*.tar
*.tar.gz
*.log
